---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>حلقة بحث الرسم والحاسب - Three.js</title>
	</head>
	<body>
    <slot />
    <footer>
      <nav>
        <ul>
          <li><a target="_blank" href="https://github.com/arrahhal/paddles-table">كامل الكود</a></li>
          <li><a target="_blank" href="https://drive.google.com/file/d/1ytbJoZVYVTq4iTk1tkYcN5xuPxxn8IPL/view?usp=sharing">ملف البحث pdf</a></li>
        </ul>
      </nav>
    </footer>
	</body>
</html>
